@CHARSET "UTF-8";

@font-face {
    font-family: prompt;
    src: url(../fonts/prompt/Prompt-Medium.ttf);
}

@font-face {
    font-family: prompt-light;
    src: url(../fonts/prompt/Prompt-Light.ttf);
}

.lab_document {
	font-family: prompt-light;
	font-size: 16px;
	margin: 20px;
}

.lab_document li {
	margin-top: 0.75em;
}