@CHARSET "UTF-8";

@font-face {
    font-family: prompt;
    src: url(../fonts/prompt/Prompt-Medium.ttf);
}

@font-face {
    font-family: prompt-light;
    src: url(../fonts/prompt/Prompt-Light.ttf);
}

.lab_document {
	font-family: prompt-light;
	font-size: 16px;
	margin: 20px;
}

.lab_document li {
	margin-top: 0.75em;
}

.items {
  display: flex;
  flex-direction: column;
  padding: 20px;
  counter-reset: done-items undone-items;
}

.done {
  color: green;
  order: 1;
}

.done::after {
  content: ' (' counter(done-items) ')';
}

.undone {
	color: red;
  order: 3;
}

.undone::after {
  content: ' (' counter(undone-items) ')';
}


.items input {
display: block;
  height: 53px;
  margin: 0 0 -53px -9999px;
  order: 4;
  outline: none;
  counter-increment: undone-items;
}

.items input:checked {
  order: 2;
  counter-increment: done-items;  
}

.items label {
  display: block;
  position: relative;
  padding: 15px 0 15px 45px;
  border-top: 1px dashed #000;
  order: 4;
  cursor: pointer;
  animation: undone .5s;
  font-family: prompt-light;
  font-size: 16px;
}

.items label::before {
  content: '\f10c'; /* circle outline */
  display: block;
  position: absolute;
  top: 11px;
  left: 10px;
  font: 1.5em 'FontAwesome';
}

.items label:hover,.items  input:focus + label {
  background-color: rgba(255, 255, 255, .2);
}

.items input:checked + label {
  order: 2;
  animation: done .5s;
}

.items input:checked + label::before {
  content: '\f058'; /* circle checkmark */
}


