<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/metronic-page">
<head>
<title>ISO/IEC 17025: การรับรองระบบงานห้องปฏิบัติการทดสอบ สอบเทียบ </title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div class="main" layout:fragment="content">
		<div class="container">
	        <ul class="breadcrumb">
	        	<li><a href="javascript:;" th:href="@{/web/}">Home</a></li>
	            <li><a href="javascript:;">Pages</a></li>
	            <li class="active">รายชื่อห้องปฏิบัติการที่ได้รับการรับรอง</li>
	        </ul>
	        
	      <!-- BEGIN SIDEBAR & CONTENT -->
        <div class="row margin-bottom-40">
          <!-- BEGIN CONTENT -->
          <div class="col-md-12 col-sm-12">
            	<h1>รายชื่อห้องปฏิบัติการที่ได้รับการรับรอง</h1>
          	  <div class="content-page">
              	<form action="#" class="content-search-view2">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Search...">
                  <span class="input-group-btn">
                    <button type="submit" class="btn btn-primary">Search</button>
                  </span>
                </div>
              </form>
              <div class="search-result-item">
                <table class="table table-bordered">
                	<thead>
                		<tr>
                			<th>ลำดับที่</th>
                			<th>ชื่อห้องปฏิบัติการ</th>
                			<th>สาขาที่ได้รับการรับรอง</th>
                			<th>หมายเลขการรับรอง</th>
                		</tr>
                	</thead>
                	<tbody>
                		<tr>
                			<td>1</td>
                			<td><a href="http://labthai.dss.go.th/dss/admin/files/Testing_0001_TH.pdf" target="_blank">บริษัท เทสท์ เทค จำกัด</a></td>
                			<td>ด้านสิ่งแวดล้อม</td>
                			<td>ทดสอบ - 0001</td>
                		</tr>
                		<tr>
                			<td>2</td>
                			<td><a href="http://labthai.dss.go.th/dss/admin/files/Testing_0003_TH.pdf" target="_blank">ห้องปฏิบัติการทดสอบผลิตภัณฑ์สุดท้าย บริษัท น้ำตาลสระบุรี จำกัด</a></td>
                			<td>น้ำตาลและผลิตภัณฑ์น้ำตาล</td>
                			<td>ทดสอบ - 0003</td>
                		</tr>
						<tr>
                			<td>3</td>
                			<td><a href="http://labthai.dss.go.th/dss/admin/files/Testing_0004_TH.pdf" target="_blank">	ห้องปฏิบัติการทดสอบ บริษัท เบทาโกร จำกัด (มหาชน) พระประแดง</a></td>
                			<td> อาหาร อาหารสัตว์และผลิตภัณฑ์ที่เกี่ยวข้อง</td>
                			<td>ทดสอบ - 0004</td>
                		</tr>
                		<tr>
                			<td>4</td>
                			<td><a href="http://labthai.dss.go.th/dss/admin/files/Testing_0005_TH.pdf" target="_blank">		ห้องปฏิบัติการวิเคราะห์ บริษัท เฮลธ์ แอนด์ เอ็นไวเทค จำกัด</a></td>
                			<td> ด้านสิ่งแวดล้อม</td>
                			<td>ทดสอบ - 0005</td>
                		</tr>
                		<tr>
                			<td>5</td>
                			<td><a href="http://labthai.dss.go.th/dss/admin/files/Testing_0006_TH.pdf" target="_blank">	ห้องปฏิบัติการสิ่งแวดล้อม ฝ่ายคุณภาพสิ่งแวดล้อมและห้องปฏิบัติการ กรมควบคุมมลพิษ</a></td>
                			<td> ด้านสิ่งแวดล้อม</td>
                			<td>ทดสอบ - 0006</td>
                		</tr>
                		<tr>
                			<td>6</td>
                			<td><a href="http://labthai.dss.go.th/dss/admin/files/Testing_0009_TH.pdf" target="_blank">	บริษัท เอแอลเอส แลบอราทอรี กรุ๊ป (ประเทศไทย) จำกัด</a></td>
                			<td>  ภาชนะบรรจุอาหารและวัสดุที่เกี่ยวข้อง<br/> อาหาร อาหารสัตว์และผลิตภัณฑ์ที่เกี่ยวข้อง <br/> ด้านสิ่งแวดล้อม</td>
                			<td>ทดสอบ - 0009</td>
                		</tr>
                		<tr>
                			<td>7</td>
                			<td><a href="http://labthai.dss.go.th/dss/admin/files/Testing_0012_TH.pdf" target="_blank">	ศูนย์ปฏิบัติการด้านสิ่งแวดล้อม คณะการจัดการสิ่งแวดล้อม มหาวิทยาลัยสงขลานครินทร์</a></td>
                			<td> ด้านสิ่งแวดล้อม</td>
                			<td>ทดสอบ - 0012</td>
                		</tr>
                		<tr>
                			<td>8</td>
                			<td><a href="http://labthai.dss.go.th/dss/admin/files/Testing_0013_TH.pdf" target="_blank">		ห้องปฏิบัติการเคมี บริษัท กรีนสปอต จำกัด (โรงงานรังสิต)</a></td>
                			<td> ด้านสิ่งแวดล้อม</td>
                			<td>ทดสอบ - 0013</td>
                		</tr>
                		<tr>
                			<td>9</td>
                			<td><a href="http://labthai.dss.go.th/dss/admin/files/Testing_0014_TH.pdf" target="_blank">ห้องปฏิบัติการ บริษัท เค.เอ็ม.พี.ไบโอเทค จำกัด</a></td>
                			<td> อาหาร อาหารสัตว์และผลิตภัณฑ์ที่เกี่ยวข้อง <br/>  ด้านสิ่งแวดล้อม</td>
                			<td>ทดสอบ - 0014</td>
                		</tr>
                		<tr>
                			<td>10</td>
                			<td><a href="http://labthai.dss.go.th/dss/admin/files/Testing_0015_TH.pdf" target="_blank">		บริษัท คาร์กิลล์มีทส์ (ไทยแลนด์) จำกัด (โรงงานอาหารสัตว์)</a></td>
                			<td> อาหาร อาหารสัตว์และผลิตภัณฑ์ที่เกี่ยวข้อง</td>
                			<td>ทดสอบ - 0015</td>
                		</tr>
                	</tbody>
                	
                	
                </table>
              </div>
                <div class="row">
                <div class="col-md-4 col-sm-4 items-info">
               		 <div class="form-inline">
                		 ห้องปฏิบัิตการที่ได้รับการรับรองทั้งหมด 132 ห้อง 
                	</div>
                </div>
                <div class="col-md-8 col-sm-8">
                  <ul class="pagination pull-right">
                    <li><a href="javascript:;">«</a></li>
                    <li><a href="javascript:;">1</a></li>
                    <li><span>2</span></li>
                    <li><a href="javascript:;">3</a></li>
                    <li><a href="javascript:;">4</a></li>
                    <li><a href="javascript:;">5</a></li>
                    <li><a href="javascript:;">»</a></li>
                  </ul>
                </div>
              </div>
              </div>
          	
          	
          </div>
          <!--  END CONTENT -->
        </div>
        
        </div>
	</div>
	
	<div layout:fragment="pageScript">

	</div>
</body>
</html>