<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/metronic-page">
<head>
<title>ISO/IEC 17025: การรับรองระบบงานห้องปฏิบัติการทดสอบ สอบเทียบ </title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div class="main" layout:fragment="content">
		<div class="container">
	        <ul class="breadcrumb">
	        	<li><a href="javascript:;" th:href="@{/web/}">Home</a></li>
	            <li><a href="javascript:;">Pages</a></li>
	            <li class="active">ยื่นขอการรับรอง</li>
	        </ul>

			<div class="row margin-bottom-40">			
					<div class="col-md-3">
						<div class="list-group">
						  <a href="#" class="list-group-item active">
						    <h4 class="list-group-item-heading">1. ข้อมูลเบื้องต้น</h4>
						    <p class="list-group-item-text">ข้อมูลทั่วไปเกี่ยวกับการยื่นขอการรับรอง</p>
						  </a>
						  <a href="#" class="list-group-item disabled">
						    <h4 class="list-group-item-heading">2. ข้อกำหนดด้านบริหาร</h4>
						    <p class="list-group-item-text">เอกสารหลักฐานประกอบ</p>
						  </a>
						  <a href="#" class="list-group-item disabled">
						    <h4 class="list-group-item-heading">3. ข้อกำหนดด้านวิชาการ</h4>
						    <p class="list-group-item-text">เอกสารหลักฐานประกอบ</p>
						  </a>
						  <a href="#" class="list-group-item disabled">
						    <h4 class="list-group-item-heading">4. บุคลากรในระบบคุณภาพ</h4>
						    <p class="list-group-item-text">รายชื่อ คุณวุฒิ ประสบการณ์ และหน้าที่ความรับผิดชอบของเจ้าหน้าที่ </p>
						  </a>
						   <a href="#" class="list-group-item disabled">
						    <h4 class="list-group-item-heading">5. ขอบข่ายที่ยื่นขอการรับรอง</h4>
						    <p class="list-group-item-text">ระบุขอบข่ายที่ยื่นขอการรับรองในครั้งนี้</p>
						  </a>
						   <a href="#" class="list-group-item disabled">
						    <h4 class="list-group-item-heading">6. เครื่องมือหลักที่สำคัญ</h4>
						    <p class="list-group-item-text">ระบุชื่อเครื่องมือและรายการที่ทดสอบและรายละเอียดของเครื่องมือ</p>
						  </a>
						  <a href="#" class="list-group-item disabled">
						    <h4 class="list-group-item-heading">7. มาตรฐานอ้างอิง</h4>
						    <p class="list-group-item-text">ระบุชื่อมาตรฐานอ้างอิง รายการที่ทดสอบและการใช้งาน</p>
						  </a>
						  <a href="#" class="list-group-item disabled">
						    <h4 class="list-group-item-heading">8. วัสดุอ้างอิงรับรอง/วัสดุอ้างอิง</h4>
						    <p class="list-group-item-text">ระบุชื่อวัสดุอ้างอิง รายการที่ทดสอบ</p>
						  </a>
						</div>
						
					</div>
 				
 					<div class="col-md-9">
 						<form>
 							<div class="form-group">
							    <label for="inputEmail3">1.1 ผู้ยื่นคำขอรับการรับรองความสามารถห้องปฏิบัติการ</label>
							      <div class="radio">
									  <label>
									    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">
									    ห้างหุ้นส่วนจำกัด
									  </label>
									</div>
									<div class="radio">
									  <label>
									    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
									    บริษัท จำกัด
									  </label>
									</div>
									<div class="radio">
									  <label>
									    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
									    บริษัท จำกัด (มหาชน) 
									  </label>
									</div>
									<div class="radio">
									  <label>
									    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
									    หน่วยงานของรัฐ
									  </label>
									</div>
									<div class="radio">
									  <label>
									    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
									    หน่วยงานรัฐวิสาหกิจ  
									  </label>
									</div>
									<div class="radio">
									  <label>
									    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
									    สถาบันการศึกษา
									  </label>
									</div>
									<div class="radio">
									  <label>
									    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
									    อื่นๆ 
									  </label>
									</div>
							    
							</div>
 							<div class="form-group">
							    <label for="inputEmail3">1.2 วัตถุประสงค์ที่ขอรับการรับรองความสามารถห้องปฏิบัติการ</label>
							      <div class="radio">
									  <label>
									    <input type="radio" name="optionsRadios1_2" id="optionsRadios1" value="option1">
									    ขอรับการรับรองความสามารถห้องปฏิบัติการตามมาตรฐาน ISO/IEC 17025 : 2005
									  </label>
									</div>
									<div class="radio">
									  <label>
									    <input type="radio" name="optionsRadios1_2" id="optionsRadios2" value="option2">
									    ขอขยายขอบข่าย       
									  </label>
									</div>
									<div class="radio">
									  <label>
									    <input type="radio" name="optionsRadios1_2" id="optionsRadios2" value="option2">
									    ขอต่ออายุหนังสือรับรอง       
									  </label>
									</div>
									
							</div>
							<div class="form-group">
							    <label for="inputEmail3">1.3 สถานะของห้องปฏิบัติการ    </label>
							      <div class="radio">
									  <label>
									    <input type="radio" name="optionsRadios1_3" id="optionsRadios1" value="option1">
									    ถาวร
									  </label>
									</div>
									<div class="radio">
									  <label>
									    <input type="radio" name="optionsRadios1_3" id="optionsRadios2" value="option2">
									    นอกสถานที่       
									  </label>
									</div>
									<div class="radio">
									  <label>
									    <input type="radio" name="optionsRadios1_3" id="optionsRadios2" value="option2">
									    ชั่วคราว
									  </label>
									</div>
									<div class="radio">
									  <label>
									    <input type="radio" name="optionsRadios1_3" id="optionsRadios2" value="option2">
									    เคลื่อนที่      
									  </label>
									</div>
									
							</div>
							<div class="form-group">
								<div class="form-group">
								    <label for="exampleInputEmail1">1.4 ชื่อผู้บริหารห้องปฏิบัิตการหรือผู้แทนห้องปฏิบัติการที่สามารถติดต่อได้สะดวก</label>
								    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="">
								  </div>
							</div>
							<div class="form-group">
								<div class="form-group">
								    <label for="exampleInputEmail1">1.5 ชื่อจัดการด้านคุณภาพ</label>
								    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="">
								  </div>
							</div>
							<div class="form-group">
							    <label for="inputEmail3">1.6 การตรวจติดตามภายใน    </label>
							      <div class="radio">
									  <label>
									    <input type="radio" name="optionsRadios1_6" id="optionsRadios1" value="option1">
									    มี
									  </label>
									</div>
									<div class="radio">
									  <label>
									    <input type="radio" name="optionsRadios1_6" id="optionsRadios2" value="option2">
									    ไม่มี   
									  </label>
									</div>
									<div class="radio">
									  <label>
									    <input type="radio" name="optionsRadios1_6" id="optionsRadios2" value="option2">
									    อยู่ระหว่างการดำเนินการ
									  </label>
									</div>
									
							</div>
							<div class="form-group">
							    <label for="inputEmail3">1.7 การเข้าร่วมกิจกรรมทดสอบความขำนาญ (Proficiency Testing Program)   </label>
							      <div class="radio">
									  <label>
									    <input type="radio" name="optionsRadios1_7" id="optionsRadios1" value="option1">
									    มี
									  </label>
									</div>
									<div class="radio">
									  <label>
									    <input type="radio" name="optionsRadios1_7" id="optionsRadios2" value="option2">
									    ไม่มี   
									  </label>
									</div>
									<div class="radio">
									  <label>
									    <input type="radio" name="optionsRadios1_7" id="optionsRadios2" value="option2">
									    อยู่ระหว่างการดำเนินการ
									  </label>
									</div>
							</div>
							<div class="form-group">
							    <label for="inputEmail3">1.8 การเปรียบเทียบผลทดสอบระหว่างห้องปฏิบัติการ (interlaboratory Comparisons) </label>
							      <div class="radio">
									  <label>
									    <input type="radio" name="optionsRadios1_8" id="optionsRadios1" value="option1">
									    มี
									  </label>
									</div>
									<div class="radio">
									  <label>
									    <input type="radio" name="optionsRadios1_8" id="optionsRadios2" value="option2">
									    ไม่มี   
									  </label>
									</div>
									<div class="radio">
									  <label>
									    <input type="radio" name="optionsRadios1_8" id="optionsRadios2" value="option2">
									    อยู่ระหว่างการดำเนินการ
									  </label>
									</div>
							</div>
 						</form>
 						<a href="#" th:href="@{/web/application2}" class="btn btn-primary pull-right" role="button">NEXT STEP</a>
 					</div>


				
			</div>

		</div>
	</div>
	
	<div layout:fragment="pageScript">

	</div>
</body>
</html>