<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/metronic-page">
<head>
<title>ISO/IEC 17025: การรับรองระบบงานห้องปฏิบัติการทดสอบ สอบเทียบ </title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div class="main" layout:fragment="content">
		<div class="container">
	        <ul class="breadcrumb">
	        	<li><a href="javascript:;" th:href="@{/web/}">Home</a></li>
	            <li><a href="javascript:;">Pages</a></li>
	            <li class="active">เอกสารข้อกำหนด</li>
	        </ul>

			<div class="row margin-bottom-40">
				<div class="content-page">
					<div class="row">
						<div class="col-md-12 col-sm-12">
							<ul class="nav nav-tabs" role="tablist" >
							  <li role="presentation" class="active"><a href="#tab1"  data-toggle="tab">ข้อกำหนดฉบับเต็ม</a></li>
							  <li role="presentation" ><a href="#tab4"  data-toggle="tab">คำอธิบายข้อกำหนดด้านการบริหาร</a></li>
							  <li role="presentation"><a href="#tab5" data-toggle="tab">คำอธิบายข้อกำหนดด้านวิชาการ</a></li>
							  
							</ul>
							
							<div class="tab-content">
							<div role="tabpanel" class="tab-pane active" id="tab1">
								<div class="row">
									<div class="col-md-12 col-sm-12">
										<h3> <a href="http://www.ratchakitcha.soc.go.th/DATA/PDF/2553/E/117/23.PDF">Download</a> เอกสารฉบับเต็มจากประกาศในราชกิจจานุเบกษาตาม
										 ประกาศคณะกรรมการกําหนดมาตรฐานดานการตรวจสอบและรับรอง ฉบับที่ 10 (พ.ศ. 2553)</h3>
										 
										 <p><span class="lab_document">มาตรฐานขอกําหนดทั่วไปวาดวยความสามารถของหองปฏิบัติการทดสอบ และหองปฏิบัติการสอบเทียบ ใหเปนไปตามมาตรฐานผลิตภัณฑอุตสาหกรรม ขอกําหนดทั่วไปวาดวยความสามารถของ
หองปฏิบัติการทดสอบ และหองปฏิบัติการสอบเทียบ มาตรฐานเลขที่ มอก. 17025-2548 (ISO/IEC 17025 : 2005 General requirements for the competence of testing and calibration laboratories) </span></p>
									</div>
								</div>
							</div>
							
							<div role="tabpanel" class="tab-pane" id="tab5">
								<div class="row">
									<div class="col-md-3 col-sm-3">
										<ul class="tabbable faq-tabbable">
											<li class="active"><a href="#tab_5_2" data-toggle="tab">5.2 บุคลากร</a></li>
											<li><a href="#tab_5_3" data-toggle="tab">5.3 สถานที่และภาวะแวดล้อม</a></li>
											<li><a href="#tab_5_4" data-toggle="tab">5.4 วิธีทดสอบ/สอบเทียบ  และการตรวจสอบความใช้ได้ของวิธี</a></li>
											<li><a href="#tab_5_5" data-toggle="tab">5.5 เครื่องมือ</a></li>
											<li><a href="#tab_5_6" data-toggle="tab">5.6 ความสอบกลับได้ของการวัด</a></li>
											<li><a href="#tab_5_7" data-toggle="tab">5.7 การชักตัวอย่าง</a></li>
											<li><a href="#tab_5_8" data-toggle="tab">5.8 การจัดการตัวอย่างทดสอบ</a></li>
											<li><a href="#tab_5_9" data-toggle="tab">5.9 การประกันคุณภาพผลการทดสอบ</a></li>
											<li><a href="#tab_5_10" data-toggle="tab">5.10 การรายงานผล </a></li>
										</ul>
									</div>
									<div class="col-md-9 col-sm-9">
									
			
									
										<div class="tab-content" style="padding: 0; background: #fff;">
											<!-- START TAB 5.2 -->
											<div class="tab-pane active" id="tab_5_2">
												<div class="panel panel-default">
													<div class="panel-heading">
			                                  			<h3 class="panel-title">คำอธิบาย</h3>
			                                  		</div>
			                                  		<div class="panel-body" class="lab_document">
			                                  			<ul>
			                                  				<li>มีคำบรรยายลักษณะงาน </li>
			                                  				<li>กำหนดคุณสมบัติบุคลากร</li>
			                                  				<li>จัดทำประวัติการศึกษา การทำงาน การฝึกอบรม</li>
			                                  				<li>อบรม ประเมินผล และมอบหมายบุคลากรทที่ทดสอบ ใช้เครื่องมือ และลงนามในรายงานผลการทดสอบของห้องปฏิบัติการ โดยพิจารณาความเหมาะสมตามตำแหน่งที่ได้รับมอบหมาย</li>
			                                  			</ul>
			                                  		</div>
												</div>
											</div>
											<!--  END TAB 5.2 -->
											<!-- START TAB 5.3 -->
											<div class="tab-pane " id="tab_5_3">
												<div class="panel panel-default">
													<div class="panel-heading">
			                                  			<h3 class="panel-title">คำอธิบาย</h3>
			                                  		</div>
			                                  		<div class="panel-body"  class="lab_document">
			                                  			<ul>
			                                  				<li>สิ่งอำนวยความสะดวกต่างๆ โดยรวมของห้องปฏิบัติการ เช่น ความสว่างที่เพียงพอต่อการปฏิบัติงาน การจัดวางเครื่องมือ สารเคมี หรือสิ่งของต่างๆ ในห้องปฏิบัติการที่สะดวกต่อการปฏิบัติงาน ไม่กีดขวางการทำงานของเจ้าหน้าที่ทดสอบ </li>
			                                  				<li>การทดสอบที่เฉพาะบางงาน ซึ่งภาวะแวดล้อมอาจส่งผลกระทบต่อผลการทดสอบ ห้องปฏิบัติการต้องจัดทำเอกสารข้อกำหนดด้านวิชาการสำหรับสถานที่และภาวะแวดล้อม </li>
			                                  				<li>บทบาท หน้าที่ และความรับผิดชอบของผู้จัดการวิชาการและผู้จัดการคุณภาพ</li>
			                                  				<li>วัตถุประสงค์ (objective)</li>
			                                  			</ul>
			                                  		</div>
												</div>
											</div>
											<!--  END TAB 5.3 -->
			
											<!-- START TAB 5.4 -->
											<div class="tab-pane " id="tab_5_4">
												<div class="panel panel-default">
													<div class="panel-heading">
			                                  			<h3 class="panel-title">คำอธิบาย</h3>
			                                  		</div>
			                                  		<div class="panel-body" class="lab_document">
			                                  			<ul>
			                                  				<li>มีเอกสารขั้นตอนการดำเนินงานและวิธีการในการทดสอบครอบคลุมถึงการชักตัวอย่าง การจัดการตัวอย่าง การขนย้าย การเก็บรักษา และการเตรียมตัวอย่าง</li>
			                                  				<li>มีวิธีการประมาณค่าความไม่แน่นอนของการวัด </li>
			                                  				<li>วิธีที่ห้องปฏิบัติการเลือกใช้ โดยต้องเลือกใช้วิธีการที่มีการตีพิมพ์ในมาตรฐานระหว่างประเทศ ระดับภูมิภาค หรือระดับประเทศก่อน ตรงตามความต้องการของลูกค้า และต้องเป็นมาตรฐานฉบับล่าสุด ในกรณีที่ห้องปฏิบัติการเลือกใช้วิธีมาตรฐานที่ไม่ได้มีการเปลี่ยนแปลงใดๆ ห้องปฏิบัติการต้องทวนสอบวิธี </li>
			                                  				<li>หากมีการปรับเปลี่ยนวิธี ต้องทำการตรวจสอบความใช้ได้ของวิธีอย่างเหมะสม</li>
			                                  			</ul>
			                                  		</div>
												</div>
											</div>
											<!--  END TAB 5.4 -->
											
											<!-- START TAB 5.5 -->
											<div class="tab-pane " id="tab_5_5">
												<div class="panel panel-default">
													<div class="panel-heading">
			                                  			<h3 class="panel-title">คำอธิบาย</h3>
			                                  		</div>
			                                  		<div class="panel-body" class="lab_document">
			                                  			<ul>
			                                  				<li>มีเครื่องมือวัดต่างๆ ที่มีผลต่อความถูกต้องของผลการทดสอบ </li>
			                                  				<li>จัดทำประวัติเครื่องมือ</li>
			                                  				<li>จัดทำแผนการสอบเทียบ และการดำเนินการตามแผนการสอบเทียบของเครื่องมือหลักและซอฟท์แวร์ของเครื่องมือที่ส่งผลกระทบสำคัญต่อผลการวัด </li>
			                                  				<li>เลือกใช้หน่วยงานสอบเทียบที่ได้การรับรอง ตามมาตรฐาน ISO/IEC 17025 และค่าความไม่แน่นอนของเครื่องมือวัดเป็นไปตามเกณฑ์กำหนดของวิธีทดสอบ</li>
			                                  				<li>มีการมอบหมายการใช้เครื่องมือ</li>
			                                  				<li>มีเอกสารคู่มือใช้งานและคู่มือบำรุงรักษาเครื่องมือที่เป็นปัจจุบัน และพร้อมใช้งาน</li>
			                                  				<li>มีการตรวจสอบระหว่างใช้งานตามความจำเป็น</li>
			                                  				<li>มีรายละเอียดวัน เดือน ปี ผลสอบเทียบ การปรับแต่ง เกณฑ์การยอมรับ และวัน เดือน ปีที่กำหนดการสอบเทียบครั้งต่อไป</li>
			                                  			</ul>
			                                  		</div>
												</div>
											</div>
											<!--  END TAB 5.5 -->	
											
											<!-- START TAB 5.6 -->
											<div class="tab-pane " id="tab_5_6">
												<div class="panel panel-default">
													<div class="panel-heading">
			                                  			<h3 class="panel-title">คำอธิบาย</h3>
			                                  		</div>
			                                  		<div class="panel-body" class="lab_document">
			                                  			<ul>
			                                  				<li>มีขั้นตอน และ จัดทำแผนการสอบเทียบเครื่องมือที่มีผลกระทบต่อการทดสอบ สามารถสอบกลับได้ไปยังหน่วยตามระบบสากล (International System of Units, SI)</li>
			                                  				<li>กรณีที่การวัดนั้นไม่สามารถสอบกลับได้และ/หรือไม่สัมพันธ์กันกับหน่วยตามระบบสากล (International System of Units, SI) ห้องปฏิบัติการต้องอ้างอิงวิธีการอื่นๆ ประกอบ เช่น การใช้วัสดุอ้างอิงรับรอง วิธีการที่ตกลงกัน และ/หรือมาตรฐานที่ตกลงกัน </li>
			                                  			</ul>
			                                  		</div>
												</div>
											</div>
											<!--  END TAB 5.6 -->
											
											<!-- START TAB 5.7 -->
											<div class="tab-pane " id="tab_5_7">
												<div class="panel panel-default">
													<div class="panel-heading">
			                                  			<h3 class="panel-title">คำอธิบาย</h3>
			                                  		</div>
			                                  		<div class="panel-body" class="lab_document">
			                                  			<ul>
			                                  				<li>นโยบายในการชักตัวอย่างของห้องปฏิบัติการ </li>
			                                  				<li>ถ้าห้องปฏิบัติการมีนโยบายไม่ชักตัวอย่าง ไม่ต้องมีขั้นตอนการดำเนินงาน</li>
			                                  				<li>กรณีห้องปฏิบัติการมีนโยบายในการชักตัวอย่าง ห้องปฏิบัติการต้องจัดทำแผนการชักตัวอย่างและขั้นตอนการดำเนินงานในการชักตัวอย่างและมีวิธีการทางสถิติที่เหมาะสม </li>
			                                  			</ul>
			                                  		</div>
												</div>
											</div>
											<!--  END TAB 5.7 -->
			
											
											<!-- START TAB 5.8 -->
											<div class="tab-pane " id="tab_5_8">
												<div class="panel panel-default">
													<div class="panel-heading">
			                                  			<h3 class="panel-title">คำอธิบาย</h3>
			                                  		</div>
			                                  		<div class="panel-body" class="lab_document">
			                                  			<ul>
			                                  				<li>มีขั้นตอนการขนส่ง การรับ การจัดการ การป้องกัน การเก็บรักษา การจัดเก็บตามระยะเวลาที่กำหนด และ/หรือการกำจัดตัวอย่างทดสอบ</li>
			                                  				<li>มีการชี้บ่งตัวอย่างทดสอบ เพื่อให้มั่นใจว่าจะไม่ก่อให้เกิดความสับสนทางกายภาพของตัวอย่าง หรือในการอ้างอิงถึงบันทึก หรือเอกสารอื่นๆ และการชี้บ่งนั้นต้องคงอยู่ตลอดอายุของตัวอย่างในห้องปฏิบัติการ</li>
			                                  				<li>ระบุลักษณะตัวอย่าง </li>
			                                  				<li>ขั้นตอนการดำเนินงาน และสิ่งอำนวยความสะดวกที่เหมาะสมในการป้องกันการเสื่อมสภาพ  การสูญหาย หรือการทำลายตัวอย่างทดสอบระหว่างการเก็บรักษา </li>
			                                  				<li>ในกรณีที่ตัวอย่างทดสอบ หรือบางส่วนของตัวอย่างทดสอบ ต้องมีการรักษาความปลอดภัย ห้องปฏิบัติการต้องมีการจัดการในการเก็บรักษา และมาตรการด้านความปลอดภัยเพื่อปกป้องภาวะและความสมบูรณ์ของตัวอย่าง</li>
			                                  			</ul>
			                                  		</div>
												</div>
											</div>
											<!--  END TAB 5.8 -->
											
											<!-- START TAB 5.9 -->
											<div class="tab-pane " id="tab_5_9">
												<div class="panel panel-default">
													<div class="panel-heading">
			                                  			<h3 class="panel-title">คำอธิบาย</h3>
			                                  		</div>
			                                  		<div class="panel-body" class="lab_document">
			                                  			<ul>
			                                  				<li>มีขั้นตอนในการควบคุมคุณภาพเพื่อเฝ้าระวังความใช้ได้ของการทดสอบของห้องปฏิบัติการ</li>
			                                  				<li>มีการควบคุมคุณภาพที่สามารถตรวจสอบแนวโน้มต่างๆ ได้ พร้อมทั้งการใช้วิธีทางสถิติในการทบทวนข้อมูลต่างๆ ที่นำไปใช้ในการเฝ้า</li>
			                                  				<li>เข้าร่วมการทดสอบความชำนาญในรายการที่ห้องปฏิบัติการขอการรับรอง แต่ถ้าไม่มีหน่วยงานทั้งในและต่างประเทศจัดโปรแกรมการทดสอบความชำนาญในรายการที่ห้องปฏิบัติการขอการรับรองเลย ห้องปฏิบัติการต้องเปรียบเทียบผลระหว่างห้องปฏิบัติการ และควรพิจารณาเปรียบเทียบผลกับห้องปฏิบัติการที่ได้รับการรับรองตามมาตรฐาน ISO/IEC 17025 ก่อน แต่ถ้าไม่มีจึงเปรียบเทียบผลกับห้องปฏิบัติการที่ยังไม่ได้การรับรองระวัง</li>
			                                  			</ul>
			                                  		</div>
												</div>
											</div>
											<!--  END TAB 5.9 -->		
											
											<!-- START TAB 5.10 -->
											<div class="tab-pane " id="tab_5_10">
												<div class="panel panel-default">
													<div class="panel-heading">
			                                  			<h3 class="panel-title">คำอธิบาย</h3>
			                                  		</div>
			                                  		<div class="panel-body" class="lab_document">
			                                  			<ul>
			                                  				<li>รายงานผลการทดสอบของห้องปฏิบัติการต้องมีรายละเอียดครบถ้วน ถูกต้อง ชัดเจน ตรงตามวัตถุประสงค์ และเป็นไปตามคำแนะนำใดๆ ที่ระบุในวิธีการทดสอบ </li>
			                                  				<li>กำหนดผู้มีอำนาจลงนามรับรองผลการทดสอบ</li>
			                                  				<li>มีวิธีการส่งมอบรายงานผลซึ่ง ต้องพิจารณาถึงการรักษาความลับ และการควบคุมข้อมูลด้วย</li>
			                                  				<li>มีวิธีการแก้ไขรายงานผลการทดสอบที่ได้ออกไปแล้ว (หากจำเป็น)</li>
			                                  				<li>กรณีที่จำเป็นต้องออกรายงานผลการทดสอบฉบับที่สมบูรณ์ใหม่ ห้องปฏิบัติการต้องมีการชี้บ่งเฉพาะและต้องอ้างอิงถึงรายงานผลการทดสอบต้นฉบับเดิมที่ออกแทนด้วย</li>
			                                  			</ul>
			                                  		</div>
												</div>
											</div>
											<!--  END TAB 5.10 -->	
											
										</div>
									</div>
								</div>
							
							</div>
							
							
							<div role="tabpanel" class="tab-pane" id="tab4">
								<div class="row">
									<div class="col-md-3 col-sm-3">
										<ul class="tabbable faq-tabbable">
											<li class="active"><a href="#tab_4_1" data-toggle="tab">4.1 องค์กร</a></li>
											<li><a href="#tab_4_2" data-toggle="tab">4.2 ระบบการบริหารงาน</a></li>
											<li><a href="#tab_4_3" data-toggle="tab">4.3 การควบคุมเอกสาร</a></li>
											<li><a href="#tab_4_4" data-toggle="tab">4.4 การทบทวนคำขอ ข้อเสนอการประมูลและข้อสัญญา</a></li>
											<li><a href="#tab_4_5" data-toggle="tab">4.5 การจ้างเหมาช่วงการทดสอบ</a></li>
											<li><a href="#tab_4_6" data-toggle="tab">4.6 การจัดซื้อสินค้าและบริการ</a></li>
											<li><a href="#tab_4_7" data-toggle="tab">4.7 การให้บริการลูกค้า</a></li>
											<li><a href="#tab_4_8" data-toggle="tab">4.8 ข้อร้องเรียน</a></li>
											<li><a href="#tab_4_9" data-toggle="tab">4.9 การควบคุมงานทดสอบ และ/หรือสอบเทียบ ที่ไม่เป็นไปตามที่กำหนด</a></li>
											<li><a href="#tab_4_10" data-toggle="tab">4.10 การปรับปรุง</a></li>
											<li><a href="#tab_4_11" data-toggle="tab">4.11 การปฏิบัติการแก้ไข</a></li>
											<li><a href="#tab_4_12" data-toggle="tab">4.12 การปฏิบัติการป้องกัน</a></li>
											<li><a href="#tab_4_13" data-toggle="tab">4.13 การควบคุมบันทึก</a></li>
											<li><a href="#tab_4_14" data-toggle="tab">4.14 การตรวจติดตามคุณภาพภายใน</a></li>
											<li><a href="#tab_4_15" data-toggle="tab">4.15 การทบทวนการบริหาร</a></li>
										</ul>
									</div>
									<div class="col-md-9 col-sm-9">
									
			
									
										<div class="tab-content" style="padding: 0; background: #fff;">
											<!-- START TAB 4.1 -->
											<div class="tab-pane active" id="tab_4_1">
												<div class="panel panel-default">
													<div class="panel-heading">
			                                  			<h3 class="panel-title">คำอธิบาย</h3>
			                                  		</div>
			                                  		<div class="panel-body" class="lab_document">
			                                  			<ul>
			                                  				<li>เอกชน: หลักฐานการจดทะเบียนเป็นนิติบุคคล</li>
			                                  				<li>หน่วยงานราชการ: เป็นนิติบุคคลระดับหน่วยงาน</li>
			                                  				<li>ขอบข่ายการขอรับการรับรอง
			                                  					<ul>
			                                  						<li>ตัวอย่าง รายการทดสอบ ช่วงการทดสอบ หน่วย วิธีทดสอบอ้างอิงมาตรฐาน</li>
			                                  					</ul>
			                                  				</li>
			                                  				<li>รูปแบบองค์กร/ ผังองค์กร</li>
			                                  				<li>ระบุตำแหน่งของห้องปฏิบัติการในองค์กรใหญ่ เพื่อชี้บ่งโอกาสของการมีส่วนได้ส่วนเสีย</li>
			                                  				<li>แต่งตั้งผู้จัดการคุณภาพ ทีมบริหารวิชาการ</li>
			                                  				<li>แต่งตั้งผู้ปฏิบัติงานแทนในตำแหน่งที่สำคัญ</li>
			                                  				<li>กำหนดกระบวนการสื่อสารที่เหมาะสม</li>
			                                  			</ul>
			                                  		</div>
												</div>
											</div>
											<!--  END TAB 4.1 -->
											<!-- START TAB 4.2 -->
											<div class="tab-pane " id="tab_4_2">
												<div class="panel panel-default">
													<div class="panel-heading">
			                                  			<h3 class="panel-title">คำอธิบาย</h3>
			                                  		</div>
			                                  		<div class="panel-body"  class="lab_document">
			                                  			<p>ในคู่มือคุณภาพต้องระบุ</p>
			                                  			<ul>
			                                  				<li>ถ้อยแถลงนโยบายคุณภาพ ที่ประกาศใช้โดยผู้บริหารสูงสุดของห้องปฏิบัติการ </li>
			                                  				<li>โครงสร้างเอกสาร การเชื่อมโยงระบบเอกสาร</li>
			                                  				<li>บทบาท หน้าที่ และความรับผิดชอบของผู้จัดการวิชาการและผู้จัดการคุณภาพ</li>
			                                  				<li>วัตถุประสงค์ (objective)</li>
			                                  			</ul>
			                                  		</div>
												</div>
											</div>
											<!--  END TAB 4.2 -->
			
											<!-- START TAB 4.3 -->
											<div class="tab-pane " id="tab_4_3">
												<div class="panel panel-default">
													<div class="panel-heading">
			                                  			<h3 class="panel-title">คำอธิบาย</h3>
			                                  		</div>
			                                  		<div class="panel-body" class="lab_document">
			                                  			<ul>
			                                  				<li>มีขั้นตอนการควบคุมเอกสารทั้งหมด พร้อมวิธีการควบคุมเอกสารทั้งภายในและภายนอก</li>
			                                  				<li>มีการทบทวนและอนุมัติใช้เอกสาร</li>
			                                  				<li>เอกสารที่ผ่านการอนุมัติมีพร้อมใช้งานในทุกสถานที่ที่จำเป็น</li>
			                                  				<li>มีขั้นตอนการป้องกันการใช้เอกสารที่ยกเลิกแล้ว </li>
			                                  				<li>มีการทบทวนเอกสารเป็นระยะๆ </li>
			                                  				<li>การเปลี่ยนแปลงเอกสารต้องระบุผู้ทบทวนและอนุมัติ และควรเป็นผู้มีหน้าที่เดิมในครั้งแรก</li>
			                                  				<li>ระบุวิธีบ่งชี้ข้อความที่แก้ไขหรือเพิ่มเติมใหม่ตามความเหมาะสม เช่น การขีดเส้นใต้ การใช้อักษรตัวเอียง หรือระบุในเอกสารแนบ เป็นต้น</li>
			                                  				<li>อนุญาตหรือไม่อนุญาตให้มีการแก้ไขเอกสารด้วยลายมือ</li>
			                                  				<li>วิธีการเปลี่ยนแปลงเอกสารรวมทั้งการควบคุมเอกสารที่เก็บรักษาไว้ในระบบคอมพิวเตอร์</li>
			                                  			</ul>
			                                  		</div>
												</div>
											</div>
											<!--  END TAB 4.3 -->
											
											<!-- START TAB 4.4 -->
											<div class="tab-pane " id="tab_4_4">
												<div class="panel panel-default">
													<div class="panel-heading">
			                                  			<h3 class="panel-title">คำอธิบาย</h3>
			                                  		</div>
			                                  		<div class="panel-body" class="lab_document">
			                                  			<ul>
			                                  				<li>มีการทบทวนคําขอรับบริการของห้องปฏิบัติการกับลูกค้า เช่น การมอบหมายผู้ทบทวนความพร้อมของห้องปฏิบัติการในทรัพยากรต่างๆ การเลือกวิธีการทดสอบ เป็นต้น</li>
			                                  				<li>แจ้งขีดความสามารถในการทดสอบของห้องปฏิบัติการ เช่น วิธีการทดสอบ ระยะเวลา เป็นต้น</li>
			                                  				<li>กรณีห้องปฏิบัติการมีนโยบายในการจ้างเหมาช่วงการทดสอบ การทบทวนคำขอต้องมีรายละเอียดครอบคลุมถึงการจ้างเหมาช่วง </li>
			                                  				<li>ทบทวนคำขอใหม่ กรณีเบี่ยงเบนจากที่ตกลงไว้ พร้อมแจ้งบุคลากรทุกคนที่ได้รับผลกระทบ </li>
			                                  			</ul>
			                                  		</div>
												</div>
											</div>
											<!--  END TAB 4.4 -->	
											
											<!-- START TAB 4.5 -->
											<div class="tab-pane " id="tab_4_5">
												<div class="panel panel-default">
													<div class="panel-heading">
			                                  			<h3 class="panel-title">คำอธิบาย</h3>
			                                  		</div>
			                                  		<div class="panel-body" class="lab_document">
			                                  			<ul>
			                                  				<li>นโยบายการจ้างหรือไม่จ้างเหมาช่วงการทดสอบ</li>
			                                  				<li>กรณีจ้างเหมาช่วงการทดสอบ ต้องจัดทำทะเบียนพร้อมหลักฐานผู้รับเหมาช่วงที่ได้รับการรับรองตาม ISO/IEC 17025 ในรายการและช่วงการทดสอบเดียวกับที่ขอรับการรับรอง หรือเทียบเท่า</li>
			                                  			</ul>
			                                  		</div>
												</div>
											</div>
											<!--  END TAB 4.5 -->
											
											<!-- START TAB 4.6 -->
											<div class="tab-pane " id="tab_4_6">
												<div class="panel panel-default">
													<div class="panel-heading">
			                                  			<h3 class="panel-title">คำอธิบาย</h3>
			                                  		</div>
			                                  		<div class="panel-body" class="lab_document">
			                                  			<ul>
			                                  				<li>มีการคัดเลือก การจัดซื้อสินค้า และการบริการที่มีผลกระทบต่อคุณภาพของการทดสอบ</li>
			                                  				<li>มีรายละเอียดในการจัดซื้อ ตรวจรับ และจัดเก็บสารเคมีและวัสดุสิ้นเปลืองที่มีผลกระทบต่อการทดสอบ</li>
			                                  				<li>กำหนดผู้รับผิดชอบในการทบทวนสาระทางด้านวิชาการก่อนการสั่งซื้อสินค้าที่มีผลกระทบต่อคุณภาพการทดสอบ </li>
			                                  			</ul>
			                                  		</div>
												</div>
											</div>
											<!--  END TAB 4.6 -->
			
											
											<!-- START TAB 4.7 -->
											<div class="tab-pane " id="tab_4_7">
												<div class="panel panel-default">
													<div class="panel-heading">
			                                  			<h3 class="panel-title">คำอธิบาย</h3>
			                                  		</div>
			                                  		<div class="panel-body" class="lab_document">
			                                  			<ul>
			                                  				<li>มีการให้บริการลูกค้า โดยคำนึงถึงการรักษาความลับของลูกค้ารายอื่น เช่น การให้คำแนะนำทางวิชาการ การอนุญาตให้ลูกค้าเข้าเยี่ยมชมการทดสอบโดยคำนึงถึงการรักษาความลับ เป็นต้น</li>
			                                  				<li>แสวงหาผลสะท้อนกลับจากลูกค้า</li>
			                                  			</ul>
			                                  		</div>
												</div>
											</div>
											<!--  END TAB 4.7 -->
											
											<!-- START TAB 4.8 -->
											<div class="tab-pane " id="tab_4_8">
												<div class="panel panel-default">
													<div class="panel-heading">
			                                  			<h3 class="panel-title">คำอธิบาย</h3>
			                                  		</div>
			                                  		<div class="panel-body" class="lab_document">
			                                  			<ul>
			                                  				<li>มีการรับข้อร้องเรียน การจัดการแก้ไขปัญหาเกี่ยวกับข้อร้องเรียนที่ได้รับจากลูกค้าหรือหน่วยงานอื่นๆ</li>
			                                  				<li>กำหนดช่องทางการรับข้อร้องเรียนจากลูกค้า ผู้มีส่วนได้ส่วนเสีย  และหน่วยงานอื่นที่เกี่ยวข้อง เช่น หน่วยงานควบคุมกฎระเบียบ (regulatory bodies)</li>
			                                  			</ul>
			                                  		</div>
												</div>
											</div>
											<!--  END TAB 4.8 -->		
											
											<!-- START TAB 4.9 -->
											<div class="tab-pane " id="tab_4_9">
												<div class="panel panel-default">
													<div class="panel-heading">
			                                  			<h3 class="panel-title">คำอธิบาย</h3>
			                                  		</div>
			                                  		<div class="panel-body" class="lab_document">
			                                  			<ul>
			                                  				<li>มีการควบคุมงานทดสอบที่ไม่เป็นไปตามที่กำหนด หรือไม่เป็นไปตามความต้องการของลูกค้าที่ได้ตกลงกัน </li>
			                                  				<li>มอบหมายผู้รับผิดชอบ และผู้มีอำนาจหน้าที่ในการจัดการเมื่อเกิดงานที่ไม่เป็นไปตามที่กำหนด พร้อมรายละเอียดการดำเนินการ เช่น การสั่งหยุดการทำงาน การระงับการออกรายงานผลการทดสอบ ตามความจำเป็น และนำไปปฏิบัติเมื่อพบว่าเกิดงานที่ไม่เป็นไปตามที่กำหนดขึ้น</li>
			                                  				<li>กรณีพบงานทดสอบที่ไม่เป็นไปตามที่กำหนดมีโอกาสเกิดขึ้นซํ้าให้ปฏิบัติการแก้ไขตาม 4.11</li>
			                                  			</ul>
			                                  		</div>
												</div>
											</div>
											<!--  END TAB 4.9 -->	
											
											
											<!-- START TAB 4.10 -->
											<div class="tab-pane " id="tab_4_10">
												<div class="panel panel-default">
													<div class="panel-heading">
			                                  			<h3 class="panel-title">คำอธิบาย</h3>
			                                  		</div>
			                                  		<div class="panel-body" class="lab_document">
			                                  			<ul>
			                                  				<li>มีการปรับปรุงประสิทธิผลของระบบการบริหารงานอย่างต่อเนื่อง </li>
			                                  			</ul>
			                                  		</div>
												</div>
											</div>
											<!--  END TAB 4.10 -->	
											
											
											
											
											<!-- START TAB 4.11 -->
											<div class="tab-pane " id="tab_4_11">
												<div class="panel panel-default">
													<div class="panel-heading">
			                                  			<h3 class="panel-title">คำอธิบาย</h3>
			                                  		</div>
			                                  		<div class="panel-body" class="lab_document">
			                                  			<ul>
			                                  				<li>การระบุที่มาของการปฏิบัติการแก้ไข เช่น ข้อร้องเรียน การตรวจติดตามคุณภาพภายใน การสำรวจความคิดเห็นจากลูกค้า เป็นต้น</li>
			                                  				<li>การปฏิบัติการแก้ไขต้องเหมาะสมกับปัญหา โดยพิจาณาถึงสาเหตุที่แท้จริง และมองไปถึงโอกาสในการป้องกันการเกิดซ้ำ</li>
			                                  			</ul>
			                                  		</div>
												</div>
											</div>
											<!--  END TAB 4.11 -->
											
											<!-- START TAB 4.12 -->
											<div class="tab-pane " id="tab_4_12">
												<div class="panel panel-default">
													<div class="panel-heading">
			                                  			<h3 class="panel-title">คำอธิบาย</h3>
			                                  		</div>
			                                  		<div class="panel-body" class="lab_document">
			                                  			<ul>
			                                  				<li>ระบุข้อปรับปรุงต่างๆ ที่จำเป็น และแหล่งที่อาจก่อให้เกิดสิ่งที่ไม่เป็นไปตามที่กําหนด เช่น ข้อมูลจากผลการควบคุมคุณภาพภายใน ผลการทดสอบความชำนาญ และการร้องขอจากผู้ปฏิบัติงาน เป็นต้น </li>
			                                  				<li>จัดเตรียมแผนปฏิบัติการ การปฏิบัติการตามแผน และการเฝ้าระวัง</li>
			                                  				<li>มีการปฏิบัติการป้องกัน และการควบคุมปฏิบัติการป้องกันอย่างมีประสิทธิผล</li>
			                                  				<li>ระบุผู้รับผิดชอบในแต่ละขั้นตอน</li>
			                                  			</ul>
			                                  		</div>
												</div>
											</div>
											<!--  END TAB 4.12 -->
											
											<!-- START TAB 4.13 -->
											<div class="tab-pane " id="tab_4_13">
												<div class="panel panel-default">
													<div class="panel-heading">
			                                  			<h3 class="panel-title">คำอธิบาย</h3>
			                                  		</div>
			                                  		<div class="panel-body" class="lab_document">
			                                  			<ul>
			                                  				<li>มีวิธีการชี้บ่ง การรวบรวม การจัดทําดัชนี การเข้าถึงข้อมูล การจัดเข้าแฟ้ม การเก็บรักษา การดูแลรักษา และการทําลายบันทึกคุณภาพและบันทึกวิชาการ</li>
			                                  				<li>ระบุผู้รับผิดชอบในการเก็บรักษาบันทึกต่างๆ </li>
			                                  				<li>กำหนดวิธีการบันทึกให้เหมาะสมเพื่อให้อ่านง่าย ชัดเจน ป้องกันการเสียหาย หรือการเสื่อมสภาพ </li>
			                                  				<li>มีการป้องกัน และสํารองข้อมูลบันทึกต่างๆ ที่จัดเก็บไว้ในรูปอิเล็กทรอนิกส์ </li>
			                                  				<li>กำหนดผู้เข้าถึงข้อมูล และการป้องกันการเข้าถึงข้อมูลที่จัดเก็บไว้ในรูปอิเล็กทรอนิกส์ เช่นการใช้รหัสผ่านเข้าเครื่องคอมพิวเตอร์ หรือการกำหนดลำดับชั้นการเข้าถึงข้อมูลโดยใช้รหัสผ่าน เป็นต้น</li>
			                                  			</ul>
			                                  		</div>
												</div>
											</div>
											<!--  END TAB 4.13 -->
											
											<!-- START TAB 4.14 -->
											<div class="tab-pane " id="tab_4_14">
												<div class="panel panel-default">
													<div class="panel-heading">
			                                  			<h3 class="panel-title">คำอธิบาย</h3>
			                                  		</div>
			                                  		<div class="panel-body" class="lab_document">
			                                  			<ul>
			                                  				<li>มีการตรวจติดตามคุณภาพภายในเป็นระยะๆ ตามที่ห้องปฏิบัติการกำหนดและตามที่ผู้บริหารร้องขอ </li>
			                                  				<li>แต่งตั้งผู้ตรวจติดตามคุณภาพภายในที่มีคุณสมบัติเป็นไปตามข้อกำหนด เช่น ผ่านการอบรม ความเป็นอิสระจากกิจกรรมที่ตรวจ เป็นต้น พร้อมหลักฐานการผ่านการอบรม</li>
			                                  				<li>มีแผนการตรวจติดตามคุณภาพภายในโดยผู้จัดการคุณภาพ ที่ครอบคลุมทุกส่วนของระบบการบริหารงาน รวมทั้งการเฝ้าดูการปฏิบัติงานจริงของเจ้าหน้าที่ทดสอบครบทุกรายการในขอบข่ายที่ขอการรับรอง พร้อมการดำเนินการตามแผนที่กำหนดไว้</li>
			                                  			</ul>
			                                  		</div>
												</div>
											</div>
											<!--  END TAB 4.14 -->
											
											
											<!-- START TAB 4.15 -->
											<div class="tab-pane " id="tab_4_15">
												<div class="panel panel-default">
													<div class="panel-heading">
			                                  			<h3 class="panel-title">คำอธิบาย</h3>
			                                  		</div>
			                                  		<div class="panel-body" class="lab_document">
			                                  			<ul>
			                                  				<li>มีการทบทวนระบบการบริหารงานและกิจกรรมการทดสอบของห้องปฏิบัติการเป็นระยะๆ ตามกำหนดการที่กำหนดไว้ล่วงหน้าและตามขั้นตอน โดยผู้บริหารสูงสุดของห้องปฏิบัติการ</li>
			                                  				<li>ความครบถ้วนของวาระการประชุมตามข้อกำหนด รายงานการประชุม และผลลัพธ์ที่เกิดขึ้นจากการประชุม พร้อมการดำเนินงานที่จำเป็นจากการประชุม</li>
			                                  			</ul>
			                                  		</div>
												</div>
											</div>
											<!--  END TAB 4.14 -->
											
											
										</div>
									</div>
								</div>
							

							
							
							</div>
							</div>
						</div>
						
						
						
					</div>
					
				</div>
			</div>

		</div>
	</div>
	
	<div layout:fragment="pageScript">

	</div>
</body>
</html>