<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/metronic-page">
<head>
<title>ISO/IEC 17025: การรับรองระบบงานห้องปฏิบัติการทดสอบ สอบเทียบ </title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div class="main" layout:fragment="content">
		<div class="container">
	        <ul class="breadcrumb">
	        	<li><a href="javascript:;" th:href="@{/web/}">Home</a></li>
	            <li><a href="javascript:;">Pages</a></li>
	            <li class="active">รู้จัก ISO/IEC 17025</li>
	        </ul>
	        
	      <!-- BEGIN SIDEBAR & CONTENT -->
        <div class="row margin-bottom-40">
          <!-- BEGIN CONTENT -->
          <div class="col-md-12 col-sm-12">
          	  <div class="content-page">
              	<div class="row">
             		  <div class="col-md-7">
             		  	<h3>1. ทำไมต้อง ISO/IEC 17025</h3>
             		  	<p>การแข่งขันทางการค้า และการดำเนินธุรกิจของภาคอุตสาหกรรมในปัจจุบันมีความจำเป็นอย่างยิ่ง
             		  	ที่ต้องให้ความสำคัญกับคุณภาพและมาตรฐาน  เพื่อให้สินค้าเป็นที่ยอมรับอย่างเป็นสากล  ผู้ผลิตสินค้า
             		  	ต้องได้รับการรับรองระบบคุณภาพในส่วนที่เกี่ยวข้องกับการผลิต การบริหารงาน และการบริการ
             		  	 เช่น  ISO 9000,  ISO 14000,  ISO 18000 ฯลฯ รวมทั้งสินค้าต้องผ่านการตรวจสอบคุณภาพว่า
             		  	 เป็นไปตามมาตรฐานสินค้า     ดังนั้น เพื่อแสดงให้เห็นถึงกระบวนการควบคุมคุณภาพสินค้าอย่างมีมาตรฐาน
             		  	    ผลการตรวจสอบสินค้าจึงต้องมาจากห้องปฏิบัติการทดสอบที่ได้มาตรฐาน  ISO/IEC 17025
             		  	       ที่ได้ผลการทดสอบมีความน่าเชื่อถือ  ทำให้ผู้บริโภคมั่นใจว่าได้รับสินค้าที่ผ่านกรรมวิธีการผลิตและการตรวจสอบที่มีคุณภาพ</p>
             		  	<h3>2. ใครควรทำ</h3>
             		  	<p>ภาคอุตสาหกรรมการผลิตที่มีห้องปฏิบัติการตรวจสอบคุณภาพสินค้า หรือห้องปฏิบัติการที่ให้บริการทดสอบสินค้าหรือสอบเทียบเครื่องมือทดสอบ 
             		  	ควรได้การรับรอง ISO/IEC 17025 เพื่อให้เกิดความมั่นใจคุณภาพและความน่าเชื่อถือ 
             		  	ลดการกีดกันทางการค้าและลดการตรวจซ้ำจากประเทศคู่ค้า   </p>
             		  	
             		  	
             		  	
             		  	<h3>3. ทำอย่างไร</h3>
             			<p>ห้องปฏิบัติการที่ต้องการขอการรับรอง ISO/IEC 17025 สามารถสำรวจความพร้อม เพื่อเตรียมยื่นขอการรับรอง ได้บนเว็บไซต์</p>
             		  	
             		  	<h3>4. ขอที่ไหน</h3>
             		  	<p>สามารถยื่นขอการรับรอง ได้จากหน่วยรับรองในประเทศไทย   ซึ่งมี 3 หน่วยงาน  คือ   </p>
             		  		<ol>
             		  			<li>กรมวิทยาศาสตร์บริการ :  ให้การรับรองห้องปฏิบัติการทดสอบ</li>
             		  			<li>สำนักงานมาตรฐานผลิตภัณฑ์อุตสาหกรรม  :  ให้การรับรองห้องปฏิบัติการทดสอบและสอบเทียบ</li>
             		  			<li>กรมวิทยาศาสตร์การแพทย์   :  ให้การรับรองห้องปฏิบัติการทดสอบด้านอาหาร และทางการแพทย์</li>
             		  		</ol>
             		  	<p>โดยทั้ง 3 หน่วยงาน  ได้รับการยอมรับในด้านความสามารถทางวิชาการทั้งในระดับภูมิภาค และระดับโลก  ในกลุ่มประเทศสมาชิก  APLAC  และ  ILAC</p>
             
             		  	<h3>5. เตรียมอย่างไร</h3>
             		  		<ul>
             		  			<li>กำหนดขอบข่ายการทดสอบ  ตามความจำเป็น  ตามความต้องการของลูกค้า และศักยภาพของห้องปฏิบัติการ</li>
             		  			<li>ศึกษาข้อกำหนด ISO/IEC 17025  และข้อกำหนดที่เกี่ยวข้อง</li>
             		  			<li>ผู้บริหารให้ความเห็นชอบในการจัดทำระบบคุณภาพของห้องปฏิบัติการ</li>
             		  			<li>กำหนดหน้าที่ความรับผิดชอบของแต่ละตำแหน่ง (job description)</li>
             		  			<li>จัดทำแผนอบรม  ให้ความรู้ อบรมบุคลากรที่เกี่ยวข้อง ทั้งด้านการบริหารและด้านวิชาการ  </li>
             		  			<li>จัดทำเอกสารคู่มือคุณภาพ ขั้นตอนการดำเนินงาน วิธีปฏิบัติงาน วิธีทดสอบ และเอกสารสนับสนุนที่จำเป็น  </li>
             		  			<li>ประกาศใช้เอกสารในระบบบริหารงานคุณภาพ</li>
             		  			<li>ดำเนินการด้านวิชาการต่างๆ  การทดสอบ  เครื่องมือ  อุปกรณ์ สารเคมี  วัสดุอ้างอิงรับรอง/วัสดุอ้างอิง  ขั้นตอนการจัดการตัวอย่าง การประกันคุณภาพผลการดสอบ การออกรายงานผลการทดสอบ/li>
             		  			<li>มอบหมายงานแก่บุคลากร</li>
             		  			<li>ดำเนินการตามระบบคุณภาพให้ครบทุกกิจกรรม และครบทั้งกระบวนการตั้งแต่การรับตัวอย่าง การทดสอบ  การควบคุมคุณภาพภายใน/ภายนอก  และการออกรายงานผลการทดสอบ </li>
             		  			<li>ติดต่อหน่วยรับรองระบบงานห้องปฏิบัติการ  เพื่อยื่นขอการรับรอง</li>
             		  		</ul>
             		  	
             		  	
             		  </div>
             		  <div class="col-md-5">
             		  	<iframe id="ytplayer" type="text/html" style="width:100%; border:0;" height="360" allowfullscreen="" 
  								src="https://www.youtube.com/embed/QSIVp1gMSAk?autoplay=1" frameborder="0"></iframe>
             		  
             		  </div>
             
              
              	</div>
              </div>
          	
          	
          </div>
          <!--  END CONTENT -->
        </div>
        
        </div>
	</div>
	
	<div layout:fragment="pageScript">

	</div>
</body>
</html>